@using VisitorLog_PDFD.ViewModels
@model IEnumerable<ContinentViewModel>

@{
    ViewBag.Title = "Select Continents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center">Select Continents</h1>
    @using (Html.BeginForm("Index", "Continents", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="personId" value="@Model.FirstOrDefault()?.PersonId" />

        <table class="table table-bordered table-hover mt-4">
            <thead class="thead-light">
                <tr>
                    <th style="width: 5%;">#</th>
                    <th style="width: 50%;">Continent Name</th>
                    <th style="width: 35%;">Name Type</th>
                    <th style="width: 10%;">Select</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var continent in Model.Select((item, index) => new { Item = item, Index = index + 1 }))
                {
                    <tr>
                        <td>@continent.Index</td>
                        <td>@continent.Item.ContinentName</td>
                        <td>@continent.Item.NameTypeName</td>
                        <td class="text-center">
                            <input type="checkbox" class="form-check-input"
                                   id="continent-@continent.Item.ContinentId"
                                   name="selectedContinents"
                                   value="@continent.Item.ContinentId"
                            @(continent.Item.IsSelected ? "checked" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>
