@model IEnumerable<VisitorLog_PDFD.ViewModels.StateViewModel>

@{
    ViewBag.Title = "Select States";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center">Select States</h1>
    @using (Html.BeginForm("Index", "States", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table class="table table-bordered table-hover mt-4">
            <thead class="thead-light">
                <tr>
                    <th style="width: 5%;">#</th>
                    <th style="width: 40%;">State Name</th>
                    <th style="width: 15%;">Select</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.GroupBy(m => m.CountryName))
                {
                    <tr class="table-secondary">
                        <td colspan="4"><strong>@group.Key</strong></td> <!-- Country name as a section header -->
                    </tr>
                    @foreach (var state in group.Select((item, index) => new { Item = item, Index = index + 1 }))
                    {
                        <tr>
                            <td>@state.Index</td>
                            <td>@state.Item.StateName - @state.Item.NameTypeName</td>
                            <td class="text-center">
                                <input type="checkbox" class="form-check-input"
                                       id="state-@state.Item.StateId"
                                       name="selectedStates[@state.Item.SelectedCountryId]"
                                       value="@state.Item.StateId"
                                @(state.Item.IsSelected ? "checked" : "") />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>
